{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">  
 {{#with data}} 
  <div class="main__content">

    <h1 class="title title--center">Мій плейлист</h1>

    <a href="#" class="add-button">
      <img src="/img/Frame 8763.png" width=100px alt="add">
      Додати до плейлиста
     </a>

    <ul class="track-list">
      {{#each tracks}}
      <li class="track">
        <img src="{{image}}">
        <div class="track__content">
          <strong class="track__name">{{name}} </strong>
          <em class="track__author">{{author}} </em>
        </div>
        <a href="/spotify-track-delete?playlistId={{../playlist}}&trackId={{id}}">
        <img src="/public/svg/Group 998.svg" alt="delete">
        </a>
      </li>
      {{/each}}
    </ul>     

  </div>
  {{/with}}
</main>


        
