
<main class="main">  
 {{#with data}} 
  <div class="main__content">
<div class="header">
    <h1 class="title title--center">{{name}}</h1>
    <div class="header__buttons"> 
      <a href="/">
        <img src="/svg/cross_add.svg" width="20px" alt="add" class="header__button">
      </a>
      <a href="/spotify-search">
        <img src="svg/spotify-search.svg" alt="search" width="20px" class="header__button">
      </a>
    </div>
</div>
    
    <ul class="cards-list">
      {{#each playlists}}
      <li class="card">
        <a href="/spotify-playlist"?playlistId={{../playlistId}}&trackId={{id}}
        >
         <img src="{{image}}" alt="{{name}}" class="card__image">
        <div class="card__content">
          <strong class="card__name">{{name}} </strong>
          <p class="card__amount">Кількість пісень: {{../list.amount}} </p>
        </div>  
        </a>
      </li>
      {{/each}}
    </ul>     

  </div>
  {{/with}}
</main>


        
