{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class="main">
  {{#with data}}  
    <div class="form-card"> 
      {{>heading title="Інформація про замовлення"}}      
      <div class="data">
         <div class="info">
            <p class="info__title">ID:<span class="info__item"> {{id}} </span></p> <br>
        </div>         
      {{>divider}}
        <div class="data__item">
          <div class="info">
            <p class="info__title">Ім'я:</p> 
            <p class="info__item"> {{firstname}} </p>
          </div>
          <div class="info">
            <p class="info__title">Прізвище:</p>
            <p class="info__item">{{lastname}}</p>         
          </div>
        </div>
        <div class="data__item">
          <div class="info">
           <p class="info__title">Телефон:</p>
           <p class="info__item"> {{phone}} </p>
          </div>
           <div class="info">
            <p class="info__title">Електронна пошта:</p>
            <p class="info__item"> {{email}} </p>
          </div>
        </div>
      {{>divider}}  <br>
        
          <div class="info">
            <p class="info__title">"Назва товару:</p>
            <p class="info__item"> {{product}} </p>
          </div>
          <div class="info">
            <p class="info__title">Коментар:</p> 
            <p class="info__item"> {{comment}} </p>
          </div>
        
        {{>divider}}      
        <div class="data__item">
          <div class="info">
            <p class="info__title">Вартість товарів:</p>
            <p class="info__item"> {{productPrice}} </p>
          </div>
          <div class="info">
            <p class="info__title">Вартість доставки:</p>
            <p class="info__item"> {{deliveryPrice}} </p>
          </div>
        </div>
        <div class="data__item">
          <div class="info">
            <p class="info__title">Сума до сплати:</p>
            <p class="info__item"> {{totalPrice}} </p>
          </div>
          <div class="info">
            <p class="info__title">Нараховані бонуси:</p>
            <p class="info__item"> {{bonus}} </p>
          </div>
        </div>
        {{>divider}}
      </div>      
      <a href="/purchase-item?id={{id}}" class="form-card">{{>button text="Змінити дані"}}</a> 
    </div>      
  {{/with}} 
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}