{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">
  {{#with data}}
  {{>heading title="Інформація про замовлення"}}
    <a href="/purchase-info?id={{id}}" class="form-card">       
      <div class="data">
          {{>info title="ID:" item='{{id}}' }}          
      {{>divider}}
        <div class="data__item">
          {{>info title="Ім'я:" item=firstname }}          
          {{>info title="Прізвище:" item='{{lastname}}'}}
        </div>
        <div class="data__item">
          {{>info title="Телефон:" item="{{phone}}"}}
          {{>info title="Електронна пошта" item="{{ema il}}"}}
        </div>
      {{>divider}} <br>  
        {{>info title="Назва товару" item="{{product}}"}} <br>
        {{>info title="Коментар" item="coment"}}    
      {{>divider}}      
        <div class="data__item">
          {{>info title="Вартість товарів" item="{{productPrice}}"}}
          {{>info title="Вартість доставки" item="{{deliveryPrice}}"}}
        </div>
        <div class="data__item">
          {{>info title="Сума до сплати" item="{{totalPrice}}"}}
          {{>info title="Нараховані бонуси" item="{{bonus}}"}}
        </div>
      {{>divider}}
      </div>
      </a>
     {{>button text="Змінити дані"}}    
  {{/with}} 
</main>



{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}