
<main class="main__content--center">  
 {{#with data}} 
  <h1 class="title">Додати до плейлиста</h1>
  <div class="main__content main__content--gray">
    <ul class="track-list ">
      {{#each tracks}}
      <li class="track">
        <img src="{{image}}" alt="{{name}}" class="track__image">
        <div class="track__content">
          <strong class="track__name">{{name}} </strong>
          <em class="track__author">{{author}} </em>
        </div>

        <form action="/spotify-add-track" method="POST">
          <input type="hidden" name="playlistId" value="{{../playlistId}}">
          <input type="hidden" name="trackId" value="{{id}}">
          <button type="submit">
              <img src="/svg/Group 1001.svg" alt="add">
          </button>
        </form> 
               
      </li>
      {{/each}}
    </ul> 
  </div>
  {{/with}}
</main>


        
