{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main__content--center">  
 {{#with data}} 
  <h1 class="title ">Додати до плейлиста</h1>
  <div class="main__content main__content--gray">
    <ul class="track-list ">
      {{#each tracks}}
      <li class="track">
        <img src="{{image}}" alt="{{name}}" width=100px class="track__image">
        <div class="track__content">
          <strong class="track__name">{{name}} </strong>
          <em class="track__author">{{author}} </em>
        </div>
        <a href="/spotify-add-track?playlistId={{../playlistId}}&trackId={{id}}">
        <img src="/svg/Group 1001.svg" alt="add">
        </a>
      </li>
      {{/each}}
    </ul> 
  </div>
  {{/with}}
</main>


        
