{{#with productList}}
 
   {{#each product}}
    <div class="product-card">
    <h2 class="product-card__title">
      Стильна сукня{{name}}</h2>
    <p class="product-card__descr">
      Елегантна сукня з натуральної тканини {{description}}</p>
    <p class="product-card__id">ID: {{id}}</p>

    <div class="product-card__wrapper">
      <p class="product-card__price">1500 {{price}} грн </p>
      <a href="/product-edit?id={{id}}" 
      class="product-card__button">
        {{>button text="Редагувати"}}
      </a>
    </div> 
    </div>                         
    {{/each}}
    {{!-- {{#each category}}
    <span class="product-card__category product-card__category--{{id}}">{{text}}</span>
    {{/each}} --}}
   
  
  {{/with}}

