{{#with data.products}}

{{#if isEmpty}} 
<mark> Пустий </mark>

    {{#each productList}}
    <div class="product-card">
    <h2 class="product-card__title">{{name}}</h2>
    <p class="product-card__descr">{{description}}</p>
    <p class="product-card__id">ID: {{id}}</p>

    <div class="product-card__wrapper">
      <p class="product-card__price">{{price}} грн </p>
      <button class="product-card__button">
        <a href="/product-edit?id={{id}}" 
      >
        {{>button text="Редагувати"}}
      </a></button>
    </div> 
    </div>                         
    {{/each}}    
  {{/if}}
  {{/with}}

