
  <div class="product__card">
   
    <h2 class="product-card__title">{{productList.name}}</h2>
    <p class="product-card__descr">{{description}}</p>
    <p class="product-card__id">{{id}}</p>

    <div class="product-card__price">
      <p class="product-card__price">{{price}} грн </p>
      {{!-- <a href="/product-create?id={{id}}">
        {{>button text="Редагувати"}}
      </a> --}}
    </div>
                          
    
    {{!-- {{#each category}}
    <span class="product-card__category product-card__category--{{id}}">{{text}}</span>
    {{/each}} --}}
   
  </div>

